.bigCounter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
   color: white;
    background: #101010;
    padding: 10px;
}

.bigCounter{
    background: black;
    text-align: center;

}